/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url(./variables.css);
@import url(./input.styles.css);
@import url(./button.styles.css);
@import url(./table.styles.css);
@import url(./modal.css);

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styling */
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    background-color: var(--grey-color);
    color: white;
}

h1 {
    font-weight: var(--bold);
    font-size: var(--heading);
}

ul {
    list-style: none;
}

th {
    font-weight: var(--semi-bold);
    font-size: var(--sub-heading);
}

td {
    font-weight: var(--regular);
    font-size: var(--paragraph);
}

select {
    font-size: var(--link);
    appearance: none;
}

/* Link Styles */
a {
    font-weight: var(--regular);
    font-size: var(--link);
    text-decoration: none;
}

a:link {
    color: var(--secondary-color)
}

a:visited {
    color: var(--secondary-color);
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--tertiary-color);
    box-shadow: 1px 1px 1px 2px var(--secondary-color);
}

.header-title {
    color: var(--secondary-color);
    margin-top: 10px;
}

.nav-bar {
    display: flex;
}

.nav-link {
    margin: 10px;
    padding-top: 10px;
}

/* Search Section */
.search-section {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.search-bar {
    width: 50%;
    margin-right: 10px;;
    outline: none;
}

.search-bar:focus {
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
    border: 2px solid var(--secondary-color);
}

.search-bar:focus::placeholder {
    color: var(--secondary-color);
}